<form name="searchForm" ng-submit="form.submit()" novalidate>
    <fieldset class="form-group required">
        <label for="keyword" class="control-label">
            Search:
        </label>
        <input type="text" class="form-control"
            ng-model="form.entity.keyword"
            name="keyword"
            id="keyword"
            ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 200, 'blur': 0 } }"
            required
        >
    </fieldset>
    <div class="controls">
        <button ng-disabled="searchForm.$invalid"
            type="submit" class="btn btn-success">
            Search
        </button>
    </div>
</form>